# Folders and compiled files
classes/
checkouts/
target/
out/

# Ignore local project-specific config
.clj-kondo/
.lsp/
.calva/

# Ignore the REPL files
.nrepl-port
.prepl-port

# Ignore Lein failures
.lein-failures

# Ignore config.edn
# config.edn